# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
/vendor
/.pnp
.pnp.js

# testing
/coverage
client/cypress/downloads
client/cypress/screenshots
.webpack-local
.webpack-migrate

# production
client/build
server/build
testfiles

# misc
.DS_Store
Thumbs.db
.sass-cache/
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.env.local
.env.development.local
.env.test.local
.env.production.local
.env-cmdrc
DeveloperFiles

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Idea
.idea/workspace.xml
.idea/tasks.xml
.idea/shelf

# Docker
/Docker/Data/*

# NPM
.npmrc

Invoice*.pdf

stage_files

package-lock.json

cypress.json

dist

ecosystem.config.*

backup.dump

./build

.npmrc
